.Tabla{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    margin: 0.6rem;
    height: 2rem;
    width: 60rem;
    border-color: #141101;
    border-style: double;
    align-items: center;
    margin-left: 2rem;
}

.Moneda {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}