.text{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

}

@media screen and (max-width:540px){
    .text{
        flex-direction: column;
    }
   }

